.video-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

/*GENERAL*/
body {
    background-color: black;
    margin: 0;
    padding: 0;
}

/*LOGO*/
.banner {
    display: flex;
    align-items: center;
}

.repeticion {
    flex: 1; /* Ocupa todo el espacio disponible */
    height: 60px; /* Alto de la imagen repetida */
    background-image: url("img/star.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 60px;
}

.numetal_logo {
    width: 380px;
    display: block;
}

/*LINKS*/
.links-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    gap: 20px;               /* Espacio entre los enlaces */
}

.links {
    color: yellow;
    display: block;
    text-align: center;
    font-size: 17px;
}

/*TEXTO*/
p {
    color:white;
    text-align: center;
}

h4 {
    color: rgb(155, 31, 31);
    text-align: center;
}

.separador {
    border: none;
    height: 1px;
    background: rgb(155, 31, 31);
    opacity: 1;
    margin: 30px auto;
}

/*NAVBAR*/
.navbar {
    /*background-color: rgb(155, 31, 31);*/
    background-image: url("img/navbar_bg.jpg");
}

/* Hace que los elementos estén en una sola fila */
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 0;
}

/* Quita el formato predeterminado de los li */
.navbar li {
    margin: 0;
    padding: 0;
}

/* LINKS DEL NAVBAR */
.nav-link {
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 40px;
    font-weight: bold;
}

.nav-link:hover {
    color: yellow !important;
}

.home_pic {
    width: 480px;
    display: block;
    margin: 0 auto;
}